aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.7.0
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
deep-translator==1.11.1
exceptiongroup==1.1.1
fastapi==0.96.0
frozenlist==1.3.3
h11==0.14.0
idna==3.4
multidict==6.0.4
openai==0.27.7
outcome==1.2.0
packaging==23.1
pydantic==1.10.8
PySocks==1.7.1
python-dotenv==1.0.0
requests==2.31.0
selenium==4.9.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
starlette==0.27.0
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.10.2
typing-extensions==4.6.3
urllib3==2.0.2
uvicorn==0.22.0
webdriver-manager==3.8.6
wsproto==1.2.0
yarl==1.9.2
